.navbar {
  height: 60px;
  border-top: 3px solid #f48024;
  padding: 3px 3px 0 0;
  box-shadow: 5px 2px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.dark .navbar {
  background-color: #3d3d3d;
  color: white;
}
.light .navbar {
  background-color: rgb(221, 214, 214);
  color: black;
}

.navigation {
  padding: 2px 2px;
}

.navigation--item {
  margin-left: 10px;
  text-decoration: none;
}

.dark .navigation--item {
  color: white;
}

.light .navigation--item {
  color: black;
}

.navigation--item:hover {
  background-color: #404345;
  color: #34f2f3;
  text-decoration: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

.navbar-brand {
  margin-left: 10px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 5px;
}

.navbar-brand:hover {
  background-color: #404345;
}

.header-brand-div {
  display: flex;
  align-items: center;
}

.header-search-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.theme-switch-container {
  margin-left: 2px;
  display: flex;
}

.theme-switch {
  margin-left: 10px;
}

.dark .theme-switch-container {
  color: white;
}
.light .theme-switch-container {
  color: black;
}

.input__search {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 15px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  width: 400px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 400px;
  max-height: 300px;
  overflow-y: scroll;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
