.footer {
  min-height: 100px;
  background-color: #232629;
  color: white;
  padding-top: 25px;
}

.socials {
  display: flex;
  justify-content: space-around;
}

.social-item {
  display: flex;
  flex-direction: column;
}

.social-item > ul {
  list-style: none;
  padding-left: 0;
}
