.footer {
  height: 100px;
  background-color: #232629;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
