body {
  margin: 0 10%;
}

.App {
  min-height: 200px;
  padding: 10px 20px;
  /* min-height: calc(100% - 260px); */
}

.dark .App {
  background-color: black;
  color: white;
}

.light .App {
  background-color: white;
  color: black;
}
